td{
  padding: 5px;
}

.header{
  box-sizing: border-box;
  background-color: lightgreen;
  padding: 20px;
  transition: 0.5s;
}

.main_content{
  box-sizing: border-box;
  background-color: lightblue;
  padding: 20px;
  transition: 0.5s;

}

.sidebar{
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    padding: 20px;
    width: 177px;
}

.sidebar a{
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  background-image: linear-gradient(to bottom right, #00AFCA, white 25%);;
  color : #343434;
  padding: 3px;
}

.openbtn{
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 799px) {
  .sidebar{
    display: none;
  }
  #mySidebar{
    display: none;
  }

  .openbtn{
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .main_content{
    margin-left: 177px;
    width: 40%;
  }
  .header{
    margin-left: 177px;
    width: 40%;
  }

  .sidebar{
    display: block;
  }

  #mySidebar{
    display: block;
  }
  .openbtn{
    display: none;
  }
}
