td{
  padding: 5px;
}

.header{
  box-sizing: border-box;
  transition: 0.3s;
}

.main_content{
  box-sizing: border-box;
  padding-left: 28px;
  padding-bottom: 10px;
  padding-right: 5px;
  transition: 0.3s;

}

.main_content li{
  padding-bottom: 3px;
}

.sidebar{
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    padding-top: 10px;
    width: 150px;
}

.sidebar a{
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  background-image: linear-gradient(to bottom right, #00AFCA, white 25%);;
  color : #343434;
  padding: 3px;
}

.openbtn{
  font-size: 20px;
  cursor: pointer;
}

.head{
  color: #a437bd;
}

@media screen and (max-width: 799px) {
  .sidebar{
    display: none;
  }
  #mySidebar{
    display: none;
  }

  .openbtn{
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .main_content{
    margin-left: 150px;
    width: 30%;
  }
  .header{
    margin-left: 150px;
    width: 30%;
  }

  .sidebar{
    display: block;
  }

  #mySidebar{
    display: block;
  }
  .openbtn{
    display: none;
  }
}
